#canvas1{
    height: 200px;
    width: 200px;
    border: 1px red solid;
    border-radius: 19px;
    

}
*{
    margin: 0%;
    left: 0%;
    text-align: center;
    margin-top: 20px;
}
#random1{
    font-size: 25px;
    color: rgb(147, 91, 250);
}